
@model IEnumerable<BlogProject.Models.BlogPost>
@using BlogProject.Models;
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin"))
{
   <p>

    @Html.ActionLink("Create New", "Create")
</p>
}

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
                <a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug})" class="block-20" style="background-image: url('@Url.Content(post.MediaURL)');">
                </a>
                <div class="text p-4 d-block">
                    <div class="meta mb-3">
                        <div><a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug})">@post.Created.ToString("dddd, MMMM d, yyyy")</a></div>
                        <div><a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug})">James Cooley</a></div>
                        @*<div><a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug})" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                    </div>
                    <h3 class="heading"><a href="#">@post.Abstract</a></h3>
                </div>
            </div>
        </div>



    }

</div>